@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 1000px) {
  .scroll-2,
  .scroll-3 {
    width: 90vh;
  }
}

@media only screen and (min-width: 600px) {

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }

  .contact-info {
    font-size: 1.5em;
  }

  .splash-logo {
    height: 85vh;
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
  }
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .contact-info {
    font-size: 1em;
  }

  .splash-logo {
    max-width: 85%;
  }
}

body {
  margin: 0;
  color: #e7455bff;
  font-family: 'JetBrainsMono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2434ff;
}

.App {
  height: 100vh;
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.scroll-2,
.scroll-3 {
  margin: auto;
}

.contact-info {
  list-style-type: none;
  line-height: 0.2em;
}

.contact-info ul {
  padding-left: 0;
  margin-top: 0;
}

h1 {
  padding-top: 30px;
}
h2 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}